<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Site Metas -->
    <title>Ecommerce</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<style type="text/css">
    /**/
</style>

<body>
    <!-- Start Main Top -->
    <nav  class="navbar navbar-expand-sm bg-faded navbar-light  first-nav justify-content-center sticky-top">
        <div style=" align-self: center;" class="">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2">
                <span class="fas fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar2">
                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pages</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shop</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>


                </ul>
            </div>


        </div>
    </nav>
    <nav style="" class="navbar navbar-expand-sm navbar-dark  second-nav">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a href="/" class="navbar-brand">Home</a> -->
        <div class="navbar-collapse collapse" id="navbar2">


            <ul class="navbar-nav">
                <h1 style="color:orange;">LOGO</h1>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li style="" class="nav-item">
                    <a class="nav-link" href="#"><i style="color:orange;" class="fa fa-shopping-cart"
                            aria-hidden="true"></i>&nbsp;&nbsp;Cart(2)</a>
                </li>
                <li style="" class="nav-item">
                    <a class="nav-link" href="#"><i style="color:orange;" class="fa fa-heart"
                            aria-hidden="true"></i></a>
                </li>
            </ul>

            <ul class="navbar-nav">

            </ul>

        </div>
    </nav>


    <section style="background-image: url(images/slider.png);background-repeat: no-repeat;background-position: bottom;">
        <!-- Start Slider -->
        <div id="slides-shop" style="position: relative;overflow: hidden;width: 100%;" class="cover-slides">


            <div style="margin-top: -20px;" class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <p style="text-align:center;color: white;font-size: 45px;font-weight: bold; line-height:40px;" class="m-b-20">
                            <strong>We Believe in Good Education System<br></strong></p>
                        <p style="text-align:center;" class="m-b-40">Lorem ipsum dolor sit amet consectetur adipiscing
                            elit senectus lobortis, mollis interdum suspendisse felis nullam mauris platea egestas,
                            fusce sociis torquent.</p>
                        <div class="container">
                            <div class="signup">
                                <form id="">
                                    <input type="text" placeholder="Search Here" />
                                    <button
                                        style="background-color: #FFA539;border-radius: 50%; width: 76px;border: none;"><i
                                            class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <!-- <p><a class="btn hvr-hover" href="#">Shop New</a></p> -->
                    </div>
                </div>
            </div>


        </div>
        <!-- End Slider -->
    </section>

    <section>
        <!-- Start Slider -->
        <!-- <div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                        <img class="img-fluid" src="images/e1.png" alt="" />
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                        <img class="img-fluid" src="images/e2.png" alt="" />
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                        <img class="img-fluid" src="images/e3.png" alt="" />
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="">
                        <img class="img-fluid" src="images/e4.png" alt="" />
                       
                    </div>
                </div>
            </div>
        </div>
    </div> -->
        <!-- End Slider -->

        <div style="" class="gray-section-slanted">
            <div class="container-slanted ">
                <div class="categories-shop">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="">
                                    <img class="img-fluid" src="images/e1.png" alt="" /><br>
                                    <h2 style="color:#FFA539">Lorem Ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, tellus fames sem
                                        convallis natoque pellentesque, velit aliquam nullam tempor felis maecenas.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="">
                                    <img class="img-fluid" src="images/e2.png" alt="" />
                                    <h2 style="color:#FFA539">Lorem Ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, tellus fames sem
                                        convallis natoque pellentesque, velit aliquam nullam tempor felis maecenas.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="">
                                    <img class="img-fluid" src="images/e3.png" alt="" />
                                    <h2 style="color:#FFA539">Lorem Ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, tellus fames sem
                                        convallis natoque pellentesque, velit aliquam nullam tempor felis maecenas.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="">
                                    <img class="img-fluid" src="images/e4.png" alt="" />
                                    <h2 style="color:#FFA539">Lorem Ipsum</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, tellus fames sem
                                        convallis natoque pellentesque, velit aliquam nullam tempor felis maecenas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Start Categories  -->

    <!-- End Categories -->


    <!-- Start Products  -->
    <div style="" class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all">
                        <h1 style="text-align: center;color: #FFA539;">OUR PRODUCTS</h1>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align: right;" class="special-menu">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Lorem</button>
                            <button data-filter=".best-seller">Ipsum</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row special-list">
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4>
                                    <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                    <button class="btntrans" type="button"><img src="images/cart.png"></button>

                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid top-featured">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">

                            <img src="images/mango.png" class="img-fluid" alt="Image">

                        </div>
                        <div class="why-text">
                            <span style="display:flex;">
                                <h4>Pencil</h4> <button class="btntrans ml-4" type="button"><img src="images/wish.png"></button>
                                <button class="btntrans" type="button"><img src="images/cart.png"></button>
                            </span>
                            <h5> $15.79</h5><br>
                            <div style="text-align: center;">
                                <button class="btn warning">Shop Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div style="text-align: center;">
                <button style="border:1px solid gray" class="btn btn-default">Load More</button>
            </div> -->
        </div>
    </div>
    <section>
        <div class="title-all">
            <h1 style="text-align: center;color: #FFA539;">SPECIAL PRODUCTS</h1>
            <div class="container text-center my-3">
                <div class="row mx-auto my-auto">
                    <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item py-5 active">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="carousel-item py-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item py-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item py-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div style="border:none;" class="card">
                                            <div class="card-body">
                                                <img src="images/test.png">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="carousel-control-prev text-dark" href="#myCarousel" role="button" data-slide="prev">
                            <span class="fa fa-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next text-dark" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>





        </div>
    </section>


    <section class="testimonials">
        <div class="heading text-center">
            <div class="title-all">
                <h1 style="text-align: center;color: #FFA539;">TESTIMONIALS</h1>

            </div>

        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <!-- Indicators-->


                        <div class="carousel-inner">
                            <!-- Item-1 -->
                            <div class="carousel-item active text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3 style="color:black;">Alamin Musa</h3>
                                <!-- <h4>Front End Developer</h4> -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>
                            <!-- Item-2 -->
                            <div class="carousel-item text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3 style="color:black;">Alamin Musa</h3>
                                <!-- <h4>Front End Developer</h4> -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>
                            <!-- Item-3 -->
                            <div class="carousel-item text-center">
                                <img src="https://i.ibb.co/8x9xK4H/team.jpg" alt="" class="center-block team">
                                <h3 style="color:black;">Alamin Musa</h3>
                                <!-- <h4>Front End Developer</h4> -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                                    porttitordapibus dictum.<br>
                                    Fusce faucibus ligula scelerisque, eleifend turpis in</p>
                            </div>

                        </div>
                        <a class="carousel-control-prev control" data-target="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="fa fa-angle-left icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next control" data-target="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="fa fa-angle-right icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Products  -->
    <!-- Start Blog  -->
    <section style="padding: 65px 40px 55px 40px;    background: whitesmoke;" class="bg-img text-center">
        <br>


        <div class="container">
            <div class="row">
                <div class="col-12 col-xs-12">
                    <h2 style="text-align:center;">
                        <strong>Subscribe to Our Newsletter</strong>
                    </h2><br>
                    <h3 style="text-align:center;" class="font-alt">Get e-mail updates about our latest shops and special
                        offers</h3>
                </div>
                <div class="signup">
                    <form>
                        <br>
                        <input type="email" id="email-signup" placeholder="Enter your email here...." required="">
                        <input style="background-color:orange;" type="submit" value="Subscribe" id="btns">
                    </form>
                </div>
                </div>


        </div>

        <br><br>


    </section>
    <!-- End Blog  -->

    <footer>
        <div class="footer">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3 pt-4">
                        <div class="">
                            <h1 class="footerhead text-white">About Us</h1>
                        </div>
                        <div class="">
                            <p class="pt-2 text-white">Lorem ipsum dolor sit amet consectetur adipiscing elit magna, Lorem
                                ipsum dolor sit amet consectetur adipiscing elit magna,</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 pt-4">
                        <div class="">
                            <h1 class="footerhead text-white">Customer Care</h1>
                        </div>
                        <div class="">
                            <div class="">
                                <ul class="footerlinks pt-2 pl-2">
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Innovation</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Testimonials</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 pt-4">
                        <div class="">
                            <h1 class="footerhead text-white">Information</h1>
                        </div>
                        <div class="">
                            <ul class="footerlinks pt-2 pl-2">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">DELIVERY INFORMATION</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2 col-xl-2 pt-4">
                        <div class="">
                            <h1 class="footerhead text-white">News</h1>
                        </div>
                        <div class="">
                            <ul class="footerlinks pt-2 pl-2">
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Press</a></li>
                                <li><a href="#">Exhibitions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-3 col-lg-3 col-xl-3 pt-4">
                        <div class="">
                            <h1 class="footerhead text-white">Contact Information</h1>
                        </div>
                        <div class="">
                            <ul class="footerlinks pt-2 pl-2">
                                <li>291 SOUTH 21TH STREET</li>
                                <li>+1235235598</li>
                            <li>logoinfo5212@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END OF FOOTER -->
    </footer>
    <!-- End Footer  -->
    <!-- Start copyright  -->
    <!-- End copyright  -->
    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    <script type="text/javascript">
        new WOW().init();
    </script>
    <script type="text/javascript">
        $('#myCarousel').carousel({
            interval: 5000
        })


    </script>
    <!-- ALL JS FILES -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/inewsticker.js"></script>
    <script src="js/bootsnav.js."></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/isotope.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>

</html>