.tabs {
    margin: 30px 0
}
.tabs .tab-labels {
    position: relative;
    top: 1px;
    z-index: 100
}
.tabs .tab-labels span {
    font-family: "montserratbold", sans-serif;
    font-size: 100%;
    line-height: 123.07692%;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #fff;
    border-bottom: 0 none;
    color: #086fcf;
    cursor: pointer;
    display: block;
    float: left;
    padding: 7px 15px 9px;
    text-transform: uppercase
}
.tabs .tab-labels span.active {
    background-color: #fff;
    border-color: #edeff2;
    color: #16161a
}
.tabs .tab-slides {
    font-size: 100%;
    line-height: 184.61538%;
    border-top: 1px solid #edeff2;
    padding-top: 10px;
    position: relative
}
.tabs .tab-slides>div {
    display: none
}
.tabs .tab-slides>div.active {
    display: block
}